body {
  font-family: "Covered By Your Grace", cursive;
  line-height: 1.25;
}

.mat-header-cell {
  font-weight: 600 !important;
}

.mdc-data-table__header-cell {
  font-weight: 600 !important;
}

.action-header {
  display: flex;
  justify-content: space-between;

  #clear-filter {
    margin-top: 12px;
    margin-left: 12px;
  }

  #add-new {
    margin-top: 12px;
  }
}
@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height: 30px;
    margin-bottom: 4%;
  }
  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: 0.85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}

.filters-bar {
  display: flex !important;

  #dateRangeDivision {
    margin-left: 25px;
  }
}

@media screen and (max-width: 960px) {
  .filters-bar {
    display: flex !important;
    width: 100%;

    #textFieldFilter {
    }
    #dateRangeDivision {
      margin-left: 25px;
    }

    #dateRange {
      label[for="dateRange"]:before {
        content: "Post this question to my friends on ";
      }
    }
  }
}
