<div class="action-header">

    <div class="component-element">
        <label>
            <h3>Customers </h3>
        </label>
        <form class="filters-bar">
            <div>
                <mat-form-field appearance="fill">

                    <input #textFieldFilter matInput (keyup)="applyFilterToNameCategoryDescription($event)"
                        placeholder="Filter by Name, Email, Address" #input>

                </mat-form-field>
            </div>

            <button mat-raised-button id="clear-filter" (click)="resetDataSource()">
                Reset Filters
            </button>
        </form>
    </div>

    <div>
        <button mat-raised-button color="primary" id="add-new" (click)="addNewCustomer()">
            <mat-icon [ngStyle]="{'color':'#4ed64e'}">add</mat-icon> Add New
        </button>
    </div>


</div>

<div>

    <table mat-table [dataSource]="filteredData" class="mat-elevation-z8 games-table">


        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button (click)="editCustomerDialogOpen(element)"> <mat-icon
                        [ngStyle]="{'color':'orange'}">edit</mat-icon>
                </button>
                <button mat-button (click)="deleteCustomer(element.id)"><mat-icon
                        [ngStyle]="{'color':'red'}">delete</mat-icon>
                </button>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>



    </table>
    <mat-paginator class="pagination-bar" [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"></mat-paginator>

</div>